@import 'reset';
@import 'theme';
//@import 'crossBrowsers'; //MOBILE VERSIONS AKA RESPONSIVE
@font-face {
  font-family: 'Forum';
  src: url('../fonts/Forum-Regular.otf');
}
@font-face {
  font-family: 'Custum';
  src: url('../fonts/Custum.woff2');
}

html {
  font: $defaultFontSize + px $defaultFontFamily, sans-serif;
  color: $defaultFontColor;
  body {
    font-family: 'Custum', serif;
    background-color: $bodySchemeColor;
    #header-bar-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      #header-bar {
        margin: 0 auto;
        height: 4 + $defaultFontUnit;
        width: 96 + $defaultFontUnit;
        background-color: $themeSchemeColor;
        #header-main-navigation {
          display: inline-block;
          padding: 1 + $defaultFontUnit;
          font-size: $mainNavFontSize;
          ul {
            display: inline-block;
            li {
              margin-left: 1 + $defaultFontUnit;
              display: inline-block;
              a {
                color: $mainNavFontColor;
                font-weight: bold;
              }
            }
          }
        }
        h1 {
          display: inline-block;
          padding: 0.7 + $defaultFontUnit;
          text-align: center;
          margin-left: 2 + $defaultFontUnit;
          a {
            color: $headerFontColor;
            &:hover {
              color: #000;
            }
          }
        }
        form {
          display: inline-block;
          position: relative;
          left: 6 + $defaultFontUnit;
          bottom: 0.3 + $defaultFontUnit;
          input {
            padding: 0.5 + $defaultFontUnit;
            margin-left: 0.5 + $defaultFontUnit;
          }
        }
      }
    }
    #wrapper {
      background-color: #333;
      width: 96 + $defaultFontUnit;
      margin: 2 + $defaultFontUnit auto;
      #fake-header {
        height: 31.6 + $defaultFontUnit;
        background: url("../../assets/UI/banner.jpg") no-repeat #EEE;
        background-size: cover;
        #header-bar-extended {
          background-color: $themeSchemeColor;
          padding: 2 + $defaultFontUnit;
          label {
            font-size: 1.6 + $defaultFontUnit;
            font-weight: bold;
            color: $grey;
            margin-right: 1 + $defaultFontUnit;
          }
        }
        p {
          font-size: 1.4 + $defaultFontUnit;
          padding: 1 + $defaultFontUnit;
          color: $white;
        }
      }
      #agreements {
        position: relative;
        top: 18 + $defaultFontUnit;
        background-color: rgba(155, 155, 155, 0.8);
        padding: 0.4 + $defaultFontUnit;
        font-family: 'Forum', sans-serif;
        font-size: $agreementsFontSize;
        color: $white;
        text-align: right;
        a {
          text-decoration: underline;
          color: $black;
          &:hover {
            color: $white;
          }
        }
        #accept-agreements {
          display: inline-block;
          padding: 0.4 + $defaultFontUnit;
          margin-left: 4 + $defaultFontUnit;
          background-color: rgba(255, 255, 255, 0.2);
          text-decoration: none;
          border: solid 0.1 + $defaultFontUnit #EEE;
          &:hover {
            background-color: #555;
            -webkit-transition: background-color 2.5s;
            -moz-transition: background-color 2.5s;
            -ms-transition: background-color 2.5s;
            -o-transition: background-color 2.5s;
            transition: background-color 2.5s;
          }
        }
      }
      #main-section {
        #path {
          background-color: $themeSchemeColor;
          font-size: 1 + $defaultFontUnit;
          padding: 1 + $defaultFontUnit;
        }
        article {
          &.category {
            background-color: $themeSchemeColor;
            padding: 1 + $defaultFontUnit;
            margin-top: 1 + $defaultFontUnit;
            font-size: $categoriesFontSize;
//            height: 6 + $defaultFontUnit;
            &:before {
              content: '';
              display: inline-block;
              vertical-align: baseline;
              margin: 1 + $defaultFontUnit 0 0 0;
              width: 3.2 + $defaultFontUnit;
              height: 3.2 + $defaultFontUnit;
              background: url("../UI/icons/topic-icon.png") 0 0 no-repeat;
              background-size: 3.2 + $defaultFontUnit;
            }
            .topic-info {
              padding: 0.5 + $defaultFontUnit;
              margin-left: 1 + $defaultFontUnit;
              display: inline-block;
              header {
                h1 {
                  a {
                    color: $defaultFontColor;
                  }
                }
              }
              footer {
                .topic-creator {
                  background: url("../UI/icons/head.svg") 0 0.5 + $defaultFontUnit no-repeat;
                }
                .topic-date-creation {
                  background: url("../UI/icons/clock.svg") 0 0.5 + $defaultFontUnit no-repeat;
                }
                .topic-tag {
                  background: url("../UI/icons/tag.svg") 0 0.5 + $defaultFontUnit no-repeat;
                }
                .topic-meta {
                  display: inline-block;
                  margin: 0.8 + $defaultFontUnit 0 0 2 + $defaultFontUnit;
                  padding-left: 2.6 + $defaultFontUnit;
                  font-size: 2 + $defaultFontUnit;
                  color: $defaultFontColor;
                  background-size: 2 + $defaultFontUnit;
                  cursor: default;
                  &:first-child {
                    cursor: pointer;
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }
      #main-footer {
        margin-top: 1 + $defaultFontUnit;
        height: 20 + $defaultFontUnit;
        background-color: $themeSchemeColor;
      }
    }
  }
}