html, body, div, span, header, h1, h2, h3, h4, h5, h6, nav, ul, li, a, p, form, input, label, button, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  border-image: none; }

@font-face {
  font-family: 'Forum';
  src: url("../fonts/Forum-Regular.otf"); }
@font-face {
  font-family: 'Custum';
  src: url("../fonts/Custum.woff2"); }
html {
  font: 10px Arial, sans-serif;
  color: #000; }
  html body {
    font-family: 'Custum', serif;
    background-color: #333; }
    html body #header-bar-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%; }
      html body #header-bar-wrapper #header-bar {
        margin: 0 auto;
        height: 4.2rem;
        width: 96rem;
        background-color: #EEE; }
        html body #header-bar-wrapper #header-bar #main-heading {
          display: inline-block;
          vertical-align: top; }
          html body #header-bar-wrapper #header-bar #main-heading a #company-logo {
            vertical-align: top; }
        html body #header-bar-wrapper #header-bar #header-main-navigation {
          display: inline-block;
          padding: 1rem 0 1rem 0;
          font-size: 1.8rem; }
          html body #header-bar-wrapper #header-bar #header-main-navigation ul {
            display: inline-block; }
            html body #header-bar-wrapper #header-bar #header-main-navigation ul li {
              margin-left: 1rem;
              display: inline-block; }
              html body #header-bar-wrapper #header-bar #header-main-navigation ul li a {
                color: #333;
                font-weight: bold; }
        html body #header-bar-wrapper #header-bar form {
          vertical-align: top;
          margin-top: 0.5rem;
          display: inline-block; }
          html body #header-bar-wrapper #header-bar form #password-recovery {
            margin-left: 1rem;
            color: #777;
            font-size: 1.2rem;
            text-decoration: underline; }
            html body #header-bar-wrapper #header-bar form #password-recovery:hover {
              color: #F00; }
          html body #header-bar-wrapper #header-bar form input {
            padding: 0.5rem;
            margin-left: 0.5rem;
            width: 15.4rem;
            border: solid 0.1rem #CCC;
            background-color: #FFF; }
          html body #header-bar-wrapper #header-bar form #login-btn:hover {
            background-color: rgba(0, 155, 0, 0.5);
            border: solid 0.1rem #0F0;
            color: #FFF; }
          html body #header-bar-wrapper #header-bar form #register-btn,
          html body #header-bar-wrapper #header-bar form #login-btn {
            margin-left: 0.4rem;
            text-align: center;
            display: inline-block;
            font-size: 1.4rem;
            padding: 0.55rem;
            width: 6rem;
            background-color: rgba(155, 155, 155, 0.3);
            border: solid 0.1rem #AAA;
            color: #FFF; }
          html body #header-bar-wrapper #header-bar form #login-btn {
            margin-left: 1rem; }
          html body #header-bar-wrapper #header-bar form #register-btn:hover {
            background-color: rgba(50, 100, 255, 0.5);
            border: solid 0.1rem #09F;
            color: #FFF; }
          html body #header-bar-wrapper #header-bar form #login-btn:hover, html body #header-bar-wrapper #header-bar form #register-btn:hover {
            -webkit-transition: color 1s, background-color 1s;
            -moz-transition: color 1s, background-color 1s;
            -ms-transition: color 1s, background-color 1s;
            -o-transition: color 1s, background-color 1s;
            transition: color 1s, background-color 1s, border 1s; }
    html body #wrapper {
      background-color: #333;
      width: 96rem;
      margin: 2rem auto; }
      html body #wrapper #fake-header {
        height: 31.6rem;
        background: url("../../assets/UI/banner.jpg") no-repeat #EEE;
        background-size: cover; }
        html body #wrapper #fake-header #header-bar-extended {
          background-color: #EEE;
          padding: 2rem; }
          html body #wrapper #fake-header #header-bar-extended label {
            font-size: 1.6rem;
            font-weight: bold;
            color: #777;
            margin-right: 1rem; }
        html body #wrapper #fake-header p {
          font-size: 1.4rem;
          padding: 1rem;
          color: #FFF; }
      html body #wrapper #agreements {
        position: relative;
        top: 18rem;
        background-color: rgba(155, 155, 155, 0.8);
        padding: 0.4rem;
        font-family: 'Forum', sans-serif;
        font-size: 1.8rem;
        color: #FFF;
        text-align: right; }
        html body #wrapper #agreements a {
          text-decoration: underline;
          color: #000; }
          html body #wrapper #agreements a:hover {
            color: #FFF; }
        html body #wrapper #agreements #accept-agreements {
          display: inline-block;
          padding: 0.4rem;
          margin-left: 4rem;
          background-color: rgba(255, 255, 255, 0.2);
          text-decoration: none;
          border: solid 0.1rem #EEE; }
          html body #wrapper #agreements #accept-agreements:hover {
            background-color: #555;
            -webkit-transition: background-color 2.5s;
            -moz-transition: background-color 2.5s;
            -ms-transition: background-color 2.5s;
            -o-transition: background-color 2.5s;
            transition: background-color 2.5s; }
      html body #wrapper #main-section #path {
        background-color: #FFF;
        font-size: 1rem;
        padding: 1rem;
        border-top: solid 0.1rem #CCC;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; }
      html body #wrapper #main-section article.category {
        background-color: #EEE;
        padding: 1rem;
        margin-top: 1rem;
        font-size: 1.6rem; }
        html body #wrapper #main-section article.category:before {
          content: '';
          display: inline-block;
          vertical-align: baseline;
          margin: 1rem 0 0 0;
          width: 3.2rem;
          height: 3.2rem;
          background: url("../UI/icons/topic-icon.png") 0 0 no-repeat;
          background-size: 3.2rem; }
        html body #wrapper #main-section article.category.sticky {
          background-color: #DDD; }
          html body #wrapper #main-section article.category.sticky:before {
            content: '';
            display: inline-block;
            vertical-align: baseline;
            margin: 1rem 0 0 0;
            width: 3.2rem;
            height: 3.2rem;
            background: url("../UI/icons/sticky-icon.png") 0 0 no-repeat;
            background-size: 3.2rem; }
        html body #wrapper #main-section article.category.trash:before {
          content: '';
          display: inline-block;
          vertical-align: baseline;
          margin: 1rem 0 0 0;
          width: 3.2rem;
          height: 3.2rem;
          background: url("../UI/icons/trash-icon.png") 0 0 no-repeat;
          background-size: 3.2rem; }
        html body #wrapper #main-section article.category .topic-info {
          padding: 0.5rem;
          margin-left: 1rem;
          display: inline-block; }
          html body #wrapper #main-section article.category .topic-info header h1 a {
            color: #000; }
          html body #wrapper #main-section article.category .topic-info footer .topic-creator {
            background: url("../UI/icons/head.svg") 0 0.5rem no-repeat; }
          html body #wrapper #main-section article.category .topic-info footer .topic-date-creation {
            background: url("../UI/icons/clock.svg") 0 0.5rem no-repeat; }
          html body #wrapper #main-section article.category .topic-info footer .topic-tag {
            background: url("../UI/icons/tag.svg") 0 0.5rem no-repeat; }
          html body #wrapper #main-section article.category .topic-info footer .topic-meta {
            display: inline-block;
            margin: 0.8rem 0 0 2rem;
            padding-left: 2.6rem;
            font-size: 2rem;
            color: #000;
            background-size: 2rem;
            cursor: default; }
            html body #wrapper #main-section article.category .topic-info footer .topic-meta:first-child {
              cursor: pointer;
              margin-left: 0; }
      html body #wrapper #main-footer {
        margin-top: 1rem;
        background-color: #EEE;
        color: #666; }
        html body #wrapper #main-footer #footer-top {
          padding: 1rem;
          text-align: center;
          height: 100%; }
          html body #wrapper #main-footer #footer-top div {
            font-size: 1.4rem;
            vertical-align: top;
            margin-left: 1rem;
            padding: 1rem;
            display: inline-block;
            width: 30%;
            height: 70%;
            border-right: dashed 0.1rem #666; }
            html body #wrapper #main-footer #footer-top div:first-of-type {
              margin-left: 0; }
            html body #wrapper #main-footer #footer-top div:last-of-type {
              border: none; }
            html body #wrapper #main-footer #footer-top div p {
              text-align: left; }
          html body #wrapper #main-footer #footer-top h1 {
            padding: 1rem; }
        html body #wrapper #main-footer #footer-bottom {
          background-color: #DDD;
          text-align: center;
          padding: 1rem;
          border-bottom: solid 1rem #EEE; }
          html body #wrapper #main-footer #footer-bottom .validator {
            display: inline-block;
            margin-left: 1rem; }

/*# sourceMappingURL=main.css.map */
