html, body, div, span, header, h1, h2, h3, h4, h5, h6, nav, ul, li, a, p, form, input, label, button, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  border-image: none;
}