//BODY
$bodySchemeColor: #333;

//THEME SCHEME
$themeSchemeColor: #EEE;

//THEME FONT
$defaultFontColor: #000;
$defaultFontFamily: Arial;
$defaultFontUnit: rem;
$defaultFontSize: 10;

//COLORS
$black: #000;
$grey: #777;
$white: #FFF;

//HTML PARTS
$headerFontColor: #456;
$agreementsFontSize: 1.8 + $defaultFontUnit;
$mainNavFontSize: 1.8 + $defaultFontUnit;
$mainNavFontColor: #333;
$categoriesFontSize: 1.6 + $defaultFontUnit;